@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  .h2 {
    @apply scroll-m-20 border-b border-b-slate-200 text-3xl font-semibold tracking-tight transition-colors first:mt-0 dark:border-b-slate-700;
  }
  .center {
    @apply absolute top-[50%] left-[50%] transform -translate-x-2/4 -translate-y-2/4;
  }
  .center--top {
    @apply top-[24%];
  }
}
/* html {
  scroll-behavior: smooth;
} */
body {
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
}
.app__mask {
  transition: all 0.8s;
}

.hide-scroll {
  -webkit-overflow-scrolling: touch;
  /* overscroll-behavior: contain; */
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.return-prev-indicator {
  /* background-image: url("https://cdn.weipaitang.com/static/2019121808df9be1-82c2-9be182c2-7a74-76514f6ee9ff-W100H159");
  background-size: 100% 100%; */
  background: url("https://cdn.weipaitang.com/static/2019121808df9be1-82c2-9be182c2-7a74-76514f6ee9ff-W100H159") 0% 0% /
    100% 100% no-repeat;
}
